:root {
  --r-main-font-size: 28px;
  --r-main-font: Roboto, sans-serif;
  --r-heading-font: var(--r-main-font);
  --r-heading-font-weight: 600;
  --r-heading-letter-spacing: -2px;
  --r-heading-text-transform: normal;
  --r-code-font: "JetBrains Mono", monospace;
  --r-link-color: #027bce;
  --r-link-color-hover: var(--color-accent);
  --r-block-margin: 10px;
  --border-radius: 5px;
  --background-color-darker: rgba(0, 0, 0, 0.03);
  --color-muted: #777;
  --color-kbd: #fc7753;
  --color-subheading: #999;
  --color-accent: #0496ff;
  --color-heading2: var(--color-accent);
}

/* Layout */
.reveal .slide-background {
  background-size: 100% 100%;
  background-position: 0 0, 0 0, 0 0, 0 0;
  background-image: radial-gradient(40% 30% at 0% 0%, #03234c20 0%, #ffffff00 100%),
    radial-gradient(142% 91% at 111% 84%, #d0d0d0ff 0%, #ffffffff 100%);
}
.reveal .slides {
  text-align: left;
  letter-spacing: -1px;
}
.reveal .slide-number {
  border-radius: var(--border-radius);
  right: auto;
  left: 8px;
}
.reveal p {
  --r-block-margin: 20px;
}

/* Código */
.reveal pre {
  margin-left: 0;
  width: 100%;
  letter-spacing: -0.5px;
  font-size: 0.51em;
}
code:not(.hljs) {
  font-size: 0.8em;
  border-radius: var(--border-radius);
  --padding-x: 7px;
  padding: 2px var(--padding-x);
  background-color: var(--background-color-darker);
  color: var(--color-kbd);
}
h2 > code:not(.hljs),
h3 > code:not(.hljs) {
  --padding-x: 10px;
}
kbd {
  font-family: var(--r-code-font);
  color: var(--color-kbd);
  font-size: 0.9em;
  letter-spacing: -1.5px;
}
a > kbd {
  color: var(--r-link-color);
}
a:is(:hover, :focus) > kbd {
  color: var(--r-link-color-hover);
}
code.hljs {
  border-radius: var(--border-radius);
}
code.hljs.shell {
  color: #9494a0;
}
code.hljs.shell .language-bash {
  color: #e9e9f4;
}
td.hljs-ln-line.hljs-ln-numbers {
  opacity: 0.25;
}
.pre-wrap {
  white-space: pre-wrap !important;
}
.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  color: var(--color-kbd);
}

/* Cabeçalho */
h1.subtitle {
  --r-heading1-size: 0.8em;
  --r-heading-margin: 0;
  --r-heading-color: var(--color-subheading);
  --r-heading-font-weight: 500;
  --r-heading-letter-spacing: -1px;
  --r-heading-line-height: 1;
}
h2 {
  --r-heading-color: var(--color-heading2);
  --r-heading-line-height: 1;
  --r-heading-margin: 0 0 40px 0;
}

/* Quote */
.reveal blockquote {
  width: 100%;
  color: #2e2f2f;
  margin-left: 0;
  padding: 15px;
  font-size: 0.9em;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

/* Referências */
div.references,
a.reference {
  font-size: 0.75em;
}
a.reference {
  display: block;
  margin-top: 1em;
}
.references > a {
  display: inline-block;
}
.references > a:before,
a.reference:before {
  opacity: 0.5;
  content: "[ ";
}
.references > a:after,
a.reference:after {
  opacity: 0.5;
  content: " ]";
}

/* Sobre mim */
#about-me {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3rem;
}
#about-me > ul {
  list-style-type: circle;
}
#about-me > ul > li + li {
  margin-top: 0.2em;
}
#about-me-name {
  font-weight: 600;
  line-height: 1;
}
#profile-pic {
  margin: 0;
  border-radius: var(--border-radius);
}
.about-me-links {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1.25rem;
  justify-content: start;
}
.about-me-links > div {
  flex: 33.333% 0 0;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  column-gap: 0.4em;
}
.about-me-links > div > svg {
  width: 40px;
}
.about-me-links > div > div {
  line-height: 1;
}
.about-me-links > div > svg .fill {
  fill: var(--r-link-color);
}
.about-me-links > div > svg .fill-bg {
  fill: var(--r-background-color);
}
.about-me-links > div > div > p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1;
}
.about-me-links > div > div > a {
  font-weight: 600;
}

/* Slides e Workshops */
.qrcode-featured-text {
  font-size: 1.15em;
  font-weight: 500;
  line-height: 1.4;
}

/* Primeiro slide */
#first-slide > h1 {
  --r-heading-font-weight: 700;
  --r-heading-line-height: 1;
}
#first-slide > h2 {
  display: inline-block;
  --r-heading2-size: 1.2em;
  --r-heading-font-weight: 600;
  --r-heading-color: #f2f2f2;
  background: var(--color-heading2);
  padding: 4px 8px;
  border-radius: var(--border-radius);
}

/* Layout */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
}
.d-flex.cols-2 > div {
  flex: 50% 1 0;
}
.r-stack > li {
  width: 100%;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.h-100 {
  height: 100%;
}

/* Tipografia */
.text-center {
  text-align: center;
}
.text-strike {
  text-decoration: line-through;
}
.text-muted {
  color: var(--color-muted);
}
.fs-small {
  font-size: 0.7em;
  letter-spacing: -0.5px;
}

/* Listas */
ul.margin > li + li {
  margin-top: 1em;
}

/* Fragment */
.fragment.custom.highlight-accent.visible {
  color: var(--color-accent);
}

/* Imagem */
img {
  border-radius: var(--border-radius);
}
